body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.post {
    background: #ddd;
    border: 5px solid white;
    min-height: 220px;
}

    .post p.text-primary,
    .post h2 {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .post .edit-icon {
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: auto;
        border: none;
        border-radius: 0;
    }

    .post > a {
        text-decoration: none;
        color: black;
    }

.bg-danger {
    background-color: #f2dede;
    padding: 15px;
    margin: 10px 0;
}

.comment.row {
    font-size: 0.75em;
    margin: 10px 0;
    border: 1px solid grey;
    padding: 0px 5px 14px 15px;
}

    .comment.row > h3 {
        color: goldenrod;
        font-style: normal;
        font-size: 1em;
    }

    .comment.row > article {
        font-size: 1.5em;
        color: coral;
        margin: 10px 0;
    }

    .comment.row > span {
        color: #808080;
    }

.postDetails > h6 {
    color: #c66940;
    font-size: 0.88em;
}
